
<app-login-page [hidden]="showLogin" class="login"></app-login-page>

<app-top-bar></app-top-bar>

<div class="background">

</div>
<div class="me-5 ms-5 mt-2">
  <router-outlet></router-outlet>
</div>
